## Data Collection Phase

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings 
warnings.filterwarnings('ignore')

#### Scraping laptop's ratings and reviews

In [2]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page 
url = "https://www.flipkart.com/apple-macbook-air-m1-8-gb-256-gb-ssd-mac-os-big-sur-mgn63hn-a/product-reviews/itmde54f026889ce?pid=COMFXEKMGNHZYFH9&lid=LSTCOMFXEKMGNHZYFH9EOWT4E&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

In [3]:
Review1=[]
Rating1= []

review1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review1:
        
    Review1.append(i.text)
              
rating1=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating1:
        
    Rating1.append(j.text)

In [4]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [5]:
start=0
end=70

for page in range(start,end):
    
    # Extracting Review from xpath
    review1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review1:
        Review1.append(j.text)
        
    # Extracting Rating from xpath    
    rating1=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating1:                             
        Rating1.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     
    nxt_button.click()
    time.sleep(1)

In [6]:
driver.close()

In [7]:
# Creating the dataframe from the scraped data
Apple_Laptop=pd.DataFrame({"Review":Review1,"Rating":Rating1})

Apple_Laptop

                                                Review Rating
0    A bit expensive when we compare with today's i...      4
1    Fantastic value for money machine!! Absolute b...      5
2    The best you can get, looks and performance bo...      5
3    Ultimate machine, best laptop I have ever used...      5
4    For everyone, who is planning to buy MBA M1-\n...      5
..                                                 ...    ...
625  The best you can get, looks and performance bo...      5
626  Thanks Flipkart & the delivery person for on t...      5
627  Excellent product!\nSmooth working.\nVery good...      5
628  Very good laptop for doing any productive work...      5
629        The best laptop you can buy for this price.      5

[630 rows x 2 columns]

#### Now Scraping 2nd laptop's ratings and reviews

In [8]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/acer-aspire-7-core-i5-10th-gen-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1650-a715-75g-50ta-a715-75g-41g-gaming-laptop/product-reviews/itmc97c3da5d2abe?pid=COMG2KBG2K4GFFF7&lid=LSTCOMG2KBG2K4GFFF78YBPHO&marketplace=FLIPKART&page=1"
driver.get(url)
time.sleep(2)

In [9]:
Review2=[]
Rating2= []

review2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review2:
        
    Review2.append(i.text)
              
rating2=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating2:
        
    Rating2.append(j.text)

In [10]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [11]:
start=0
end=60

for page in range(start,end):
    
    # Extracting Review from xpath
    review2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review2:
        Review2.append(j.text)
        
    # Extracting Rating from xpath    
    rating2=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating2:                             
        Rating2.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [12]:
driver.close()

In [13]:
# Creating the dataframe from the scraped data
Acer_Laptop=pd.DataFrame({"Review":Review2,"Rating":Rating2})

Acer_Laptop

                                                Review Rating
0    Here is my review on this laptop after using f...      5
1    So basically, laptop is well and good. But the...      3
2    Good Product, I am satisfied all of the featur...      5
3    Posting this review after 8 days of use\nPros:...      4
4    Performance is good as I expect in this price ...      5
..                                                 ...    ...
605                 Nice laptop in this price range...      5
606             Very good product,worth every penny...      5
607                                              Great      5
608                                               Good      4
609                       Very good laptop for gaming.      5

[610 rows x 2 columns]

#### Now Scraping 3rd laptop's ratings and reviews

In [19]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/redmibook-pro-core-i5-11th-gen-8-gb-512-gb-ssd-windows-10-home-thin-light-laptop/product-reviews/itmcf5d0bf3be2d5?pid=COMG4Z359A4Z3MFG&lid=LSTCOMG4Z359A4Z3MFGOJQLGB&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [20]:
Review3=[]
Rating3= []

review3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review3:
        
    Review3.append(i.text)
              
rating3=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating3:
        
    Rating3.append(j.text)

In [21]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [22]:
start=0
end=27

for page in range(start,end):
    
    # Extracting Review from xpath
    review3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review3:
        Review3.append(j.text)
        
    # Extracting Rating from xpath    
    rating3=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating3:                             
        Rating3.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [23]:
driver.close()

In [24]:
# Creating the dataframe from the scraped data
Redmi_Book=pd.DataFrame({"Review":Review3,"Rating":Rating3})

Redmi_Book

                                                Review Rating
0    I am civil engineer and i installed SketchUp a...      5
1    Everything is good except display. The process...      4
2    Super work horse\n\nLatest processor, ticks al...      5
3    Worth every penny. Awesome performance. All po...      5
4    Superb laptop with super battery backup. I mos...      5
..                                                 ...    ...
275  Loved it....Big Screen and Music volume good.....      5
276                                               Good      4
277              Very nice product and value for money      5
278            Powerful to breeze through daily tasks.      5
279                                        Best laptop      5

[280 rows x 2 columns]

#### Now Scraping 4th laptop's ratings and reviews

In [29]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/realme-book-slim-core-i3-11th-gen-8-gb-256-gb-ssd-windows-10-home-rmnb1001-thin-light-laptop/product-reviews/itm63278eae4e867?pid=COMG5YDPE6KHFFK6&lid=LSTCOMG5YDPE6KHFFK6TDC2UE&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [30]:
Review4=[]
Rating4= []

review4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review4:
        
    Review4.append(i.text)
              
rating4=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating4:
        
    Rating4.append(j.text)

In [31]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [32]:
start=0
end=59

for page in range(start,end):
    
    # Extracting Review from xpath
    review4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review4:
        Review4.append(j.text)
        
    # Extracting Rating from xpath    
    rating4=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating4:                             
        Rating4.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [33]:
driver.close()

In [35]:
# Creating the dataframe from the scraped data
Realme_Book=pd.DataFrame({"Review":Review4,"Rating":Rating4})

Realme_Book

                                                Review Rating
0    Got my unit today. Impressed with the design a...      4
1    Using it for almost a week now,\n\nPros\n\n1. ...      3
2    Fully satisfied with this product, the design ...      5
3    Its like a beast in terms of display and proce...      5
4    An amazing laptop for the price.\n\nPros -\n1....      5
..                                                 ...    ...
595                                  Hit device laptop      4
596  Very nice laptop... I love the design, perform...      4
597  Display : 5/5\nDesign : 5/5\nBuild quality : 4...      3
598                                          Excellent      5
599                                       Awesome one!      5

[600 rows x 2 columns]

#### Now Scraping 5th laptop's ratings and reviews

In [40]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/acer-aspire-7-core-i5-10th-gen-8-gb-512-gb-ssd-windows-10-home-4-graphics-nvidia-geforce-gtx-1650-a715-75g-50ta-a715-75g-41g-a715-75g-52aa-gaming-laptop/product-reviews/itm365d5a348ad9c?pid=COMG2KBG2K4GFFF7&lid=LSTCOMG2KBG2K4GFFF75TIZXH&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [41]:
Review5=[]
Rating5= []

review5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review5:
        
    Review5.append(i.text)
              
rating5=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating5:
        
    Rating5.append(j.text)

In [42]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [43]:
start=0
end=59

for page in range(start,end):
    
    # Extracting Review from xpath
    review5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review5:
        Review5.append(j.text)
        
    # Extracting Rating from xpath    
    rating5=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating5:                             
        Rating5.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [44]:
driver.close()

In [46]:
# Creating the dataframe from the scraped data
acer_Aspire=pd.DataFrame({"Review":Review5,"Rating":Rating5})

acer_Aspire

                                                Review Rating
0    Here is my review on this laptop after using f...      5
1    So basically, laptop is well and good. But the...      3
2    Good Product, I am satisfied all of the featur...      5
3    Posting this review after 8 days of use\nPros:...      4
4    Performance is good as I expect in this price ...      5
..                                                 ...    ...
595  Good laptop....u can buy if u want good one wi...      4
596  Nice product\nBut build quality is low\nOveral...      5
597  battery back up and less brightness , heavy we...      3
598                                   nice performance      5
599                                   Good Product..!!      5

[600 rows x 2 columns]

#### Now Scraping Apple iPhone12 ratings and reviews

In [55]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/apple-iphone-12-black-256-gb/product-reviews/itm68421fa1c1121?pid=MOBFWBYZ7CR9FRHZ&lid=LSTMOBFWBYZ7CR9FRHZIALAIL&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [56]:
Review6=[]
Rating6=[]

review6=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review6:
        
    Review6.append(i.text)
              
rating6=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating6:
        
    Rating6.append(j.text)

In [57]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [58]:
start=0
end=68

for page in range(start,end):
    
    # Extracting Review from xpath
    review6=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review6:
        Review6.append(j.text)
        
    # Extracting Rating from xpath    
    rating6=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating6:                             
        Rating6.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [59]:
driver.close()

In [60]:
# Creating the dataframe from the scraped data
Apple_iPhone=pd.DataFrame({"Review":Review6,"Rating":Rating6})

Apple_iPhone

                                                Review Rating
0    Wow superb camera phone\nVery smooth speed and...      5
1    The brand is very trustworthy and i got genuin...      5
2    Awesome phone … value for money.. Happy with b...      5
3    Guys ,this is just Beast at Every Aspect of Co...      5
4    Excellent product worth for every penny, writi...      5
..                                                 ...    ...
377  Amazing Phone with zabardast performance.\nI’m...      5
378  Green colour is charming and priceless\nNo wei...      5
379  Thanks flipkart for amazing service.\nThe colo...      5
380                                   Excellent phone.      5
381                Best decision to purchase iPhone 12      5

[382 rows x 2 columns]

#### Now Scraping Apple iPhone11 ratings and reviews

In [87]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [88]:
Review7=[]
Rating7=[]

review7=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review7:
        
    Review7.append(i.text)
              
rating7=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating7:
        
    Rating7.append(j.text)

In [89]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [90]:
start=0
end=57

for page in range(start,end):
    
    # Extracting Review from xpath
    review7=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review7:
        Review7.append(j.text)
        
    # Extracting Rating from xpath    
    rating7=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating7:                             
        Rating7.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [91]:
driver.close()

In [92]:
# Creating the dataframe from the scraped data
Apple_iPhone11=pd.DataFrame({"Review":Review7,"Rating":Rating7})

Apple_iPhone11

                                                Review Rating
0    Really satisfied with the Product I received.....      5
1    Amazing phone with great cameras and better ba...      5
2    Great iPhone very snappy experience as apple k...      5
3    What a camera .....just awesome ..you can feel...      5
4    Previously I was using one plus 3t it was a gr...      5
..                                                 ...    ...
319                                          Fantastic      5
320                                       Just amazing      4
321                                   flipcart is best      5
322                   It’s a good and original product      5
323                                        nice phone.      5

[324 rows x 2 columns]

#### Now Scraping REDMI Note 10 ratings and reviews

In [120]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/redmi-note-10-pro-dark-night-128-gb/product-reviews/itm0479a8f8adde1?pid=MOBGB725PZQVNSUH&lid=LSTMOBGB725PZQVNSUHKFG1XB&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [121]:
Review8=[]
Rating8=[]

review8=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review8:
        
    Review8.append(i.text)
              
rating8=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating8:
        
    Rating8.append(j.text)

In [122]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [123]:
start=0
end=88

for page in range(start,end):
    
    # Extracting Review from xpath
    review8=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review8:
        Review8.append(j.text)
        
    # Extracting Rating from xpath    
    rating8=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating8:                             
        Rating8.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [124]:
driver.close()

In [125]:
# Creating the dataframe from the scraped data
REDMI_Note10=pd.DataFrame({"Review":Review8,"Rating":Rating8})

REDMI_Note10

                                                Review Rating
0    I so happy ❤️😊❤️❤️ really amazing product in t...      5
1    Pros :\nBuild quality is good\ndisplay quality...      5
2    It is very very nice and it's is Battery 🔋 per...      5
3    Best phone in the segment.\n\nJust keep in min...      5
4    The best smart phone i ever seen 😍😍 ..\nIt's p...      5
..                                                 ...    ...
885                                      No words Good      5
886                                             Good 😊      4
887                                            Good,,,      5
888                                               Good      3
889                                                 Ok      5

[890 rows x 2 columns]

#### Now Scraping Honor mobile ratings and reviews

In [130]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/honor-7a-blue-32-gb/product-reviews/itmf3t8c3bunbspx?pid=MOBF3T87HMFBVGHX&lid=LSTMOBF3T87HMFBVGHXG7UMUP&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [131]:
Review9=[]
Rating9=[]

review9=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review9:
        
    Review9.append(i.text)
              
rating9=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating9:
        
    Rating9.append(j.text)

In [132]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [137]:
start=0
end=9

for page in range(start,end):
    
    # Extracting Review from xpath
    review9=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review9:
        Review9.append(j.text)
        
    # Extracting Rating from xpath    
    rating9=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating9:                             
        Rating9.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [138]:
driver.close()

In [140]:
print(len(Review9),len(Rating9))

230 227

In [141]:
# Creating the dataframe from the scraped data
HONOR=pd.DataFrame({"Review":Review9[0:227],"Rating":Rating9[0:227]})

HONOR

                                                Review Rating
0    Nice looking blue colour nice camera nice perf...      5
1    Using this phone for almost one week. This dev...      4
2    Nice and Delivery very super Best Price Flip k...      4
3    Blue looks super cool and the displays flatter...      5
4    good phone but\nselfie cam have less clarity b...      4
..                                                 ...    ...
222  Nice and good looking and even good on the int...      1
223  wow awesome super smartphone processing smooth...      5
224  Amazing phone impressive good looking features...      5
225  Jio4gvoice not supporting as well as default d...      4
226  Nice delicate smart phone. Having all features...      5

[227 rows x 2 columns]

#### Now Scraping Camera 1 ratings and reviews

In [148]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/canon-eos-3000d-dslr-camera-1-body-18-55-mm-lens/product-reviews/itm6f665fea97bc2?pid=CAMF3DHJURPEMNRN&lid=LSTCAMF3DHJURPEMNRN5POEJU&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [149]:
Review10=[]
Rating10=[]

review10=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review10:
        
    Review10.append(i.text)
              
rating10=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating10:
        
    Rating10.append(j.text)

In [150]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [155]:
start=0
end=69

for page in range(start,end):
    
    # Extracting Review from xpath
    review10=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review10:
        Review10.append(j.text)
        
    # Extracting Rating from xpath    
    rating10=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating10:                             
        Rating10.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [156]:
driver.close()

In [157]:
# Creating the dataframe from the scraped data
Camera1=pd.DataFrame({"Review":Review10,"Rating":Rating10})

Camera1

                                                Review Rating
0    Good one\nBest for beginner photographs\nNot r...      5
1    Well Reviewing this after using for almost one...      5
2    product really great . I am totally sctified t...      5
3    Worth more than the amount. Best DSLR for a go...      5
4    Satisfied with the product.. Its a really good...      3
..                                                 ...    ...
747                                    Worst DSLR ever      1
748                               Mind-blowing product      5
749  I am writing this review after using this came...      5
750                                        Amazing buy      5
751  Low price and good quality night photo shootin...      5

[752 rows x 2 columns]

#### Now Scraping Camera 2 ratings and reviews

In [158]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/canon-eos-1500d-dslr-camera-body-18-55-mm-ii-lens/product-reviews/itm033175ceb4ddd?pid=DLLFAEWE22ZAERXG&lid=LSTDLLFAEWE22ZAERXGAHOJFJ&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [159]:
Review11=[]
Rating11=[]

review11=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review11:
        
    Review11.append(i.text)
              
rating11=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating11:
        
    Rating11.append(j.text)

In [160]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [163]:
start=0
end=59

for page in range(start,end):
    
    # Extracting Review from xpath
    review11=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review11:
        Review11.append(j.text)
        
    # Extracting Rating from xpath    
    rating11=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating11:                             
        Rating11.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [164]:
driver.close()

In [165]:
# Creating the dataframe from the scraped data
Camera2=pd.DataFrame({"Review":Review11,"Rating":Rating11})

Camera2

                                                Review Rating
0    Excellent product packaging that comes with fa...      5
1    Best Camera For the Beginners... Totally Loved...      4
2    I am reviewing this product after two years of...      5
3    This is an awesome camera only good for photos...      4
4    I have purchased my very first professional DS...      5
..                                                 ...    ...
643  Its okay for beginners, earlier they used to p...      3
644                            Nice camera go for it..      4
645                 Nice.. .. Camera for beginners 😁😁👌      4
646                                  Only single lens😏      4
647  A best product in this price range. Does the w...      4

[648 rows x 2 columns]

#### Now Scraping TV 1 ratings and reviews

In [166]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/nokia-164-cm-65-inch-ultra-hd-4k-led-smart-android-tv-sound-onkyo/product-reviews/itmf4b96d367ac3f?pid=TVSFRG9K5G56UPQ3&lid=LSTTVSFRG9K5G56UPQ3I2XDQA&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [167]:
Review12=[]
Rating12=[]

review12=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review12:
        
    Review12.append(i.text)
              
rating12=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating12:
        
    Rating12.append(j.text)

In [168]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [169]:
start=0
end=29

for page in range(start,end):
    
    # Extracting Review from xpath
    review12=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review12:
        Review12.append(j.text)
        
    # Extracting Rating from xpath    
    rating12=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating12:                             
        Rating12.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [170]:
driver.close()

In [173]:
print(len(Review12),len(Rating12))

214 212

In [174]:
# Creating the dataframe from the scraped data
TV_1=pd.DataFrame({"Review":Review12[0:212],"Rating":Rating12[0:212]})

TV_1

                                                Review Rating
0    its a good tv in the price range. far ahead of...      4
1    I was looking for a non chinese TV and finally...      4
2    Good tv and video clarity is sooo good and bri...      5
3    During 2020 big billion days i bought it.After...      5
4    The TV is just awesome, don't believe in any r...      5
..                                                 ...    ...
207  Good TV. Quite happy with the performance. A m...      2
208                                               Good      5
209         Screen bleeding problem on second day only      5
210  This is an amazing TV worth every penny... Fas...      3
211             Nice products and good picture quality      5

[212 rows x 2 columns]

#### Now Scraping TV 2 ratings and reviews

In [187]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/realme-80-cm-32-inch-hd-ready-led-smart-android-tv/product-reviews/itm56d1cf16da75b?pid=TVSFRTJQTZVKTF6Y&lid=LSTTVSFRTJQTZVKTF6YTYQNP6&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [188]:
Review13=[]
Rating13=[]

review13=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review13:
        
    Review13.append(i.text)
              
rating13=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating13:
        
    Rating13.append(j.text)

In [189]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [214]:
start=0
end=300

for page in range(start,end):
    
    # Extracting Review from xpath
    review13=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review13:
        Review13.append(j.text)
        
    # Extracting Rating from xpath    
    rating13=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating13:                             
        Rating13.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [215]:
driver.close()

In [217]:
print(len(Review13),len(Rating13))

888 878

In [218]:
# Creating the dataframe from the scraped data
TV_2=pd.DataFrame({"Review":Review13[0:878],"Rating":Rating13[0:878]})

TV_2

                                                Review Rating
0    Item is good sound quality is good picture is ...      5
1    Ertugrul Fans❤️💓\nThis is most iconic Tv Is aw...      5
2    As promised by realme,\nBetter picture, better...      5
3    Nice tv in the segment.... Good to see full HD...      4
4    After 1 Year of TV Usage, Awesome TV... Superb...      5
..                                                 ...    ...
873  One of the Best Smart Tv\nNot any single probl...      4
874                                          Very good      4
875                           Bad instlation expirence      5
876                                        Awsome yaar      5
877  Excellent product for the price. Sound quality...      5

[878 rows x 2 columns]

#### Now Scraping TV 3 ratings and reviews

In [219]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/thomson-oathpro-series-126-cm-50-inch-ultra-hd-4k-led-smart-android-tv-dolby-digital-plus-dts-trusurround/product-reviews/itm12446c5ff1c6d?pid=TVSFUYGQ7HTRRZHG&lid=LSTTVSFUYGQ7HTRRZHGGCR4YL&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [220]:
Review14=[]
Rating14=[]

review14=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review14:
        
    Review14.append(i.text)
              
rating14=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating14:
        
    Rating14.append(j.text)

In [221]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [234]:
start=0
end=60

for page in range(start,end):
    
    # Extracting Review from xpath
    review14=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review14:
        Review14.append(j.text)
        
    # Extracting Rating from xpath    
    rating14=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating14:                             
        Rating14.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [235]:
driver.close()

In [236]:
print(len(Review14),len(Rating14))

2470 2470

In [237]:
# Creating the dataframe from the scraped data
TV_3=pd.DataFrame({"Review":Review14,"Rating":Rating14})

TV_3

                                                 Review Rating
0     One of the best SMART TV in this price segment...      5
1     Before this one we bought Thomsom 9x pro and i...      5
2     Tv design is superb\n4K Resolution is mind blo...      5
3     Initial impressions after one day usage:\n\nLi...      5
4     The Best Price & Best 4K LED TV\nTo Compare Wi...      5
...                                                 ...    ...
2465  I'm writing this review after 5days of use.\nP...      5
2466                                               good      5
2467  Rather going for Sony and Samsung... I choose ...      5
2468  Good TV at this price but not great. Couldn’t ...      4
2469  Delivery, installation and demo was not good. ...      4

[2470 rows x 2 columns]

#### Now Scraping TV 4 ratings and reviews

In [245]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/oneplus-y1-80-cm-32-inch-hd-ready-led-smart-android-tv-dolby-audio/product-reviews/itme650a6bb8cee3?pid=TVSFVWD2ENXYGEJY&lid=LSTTVSFVWD2ENXYGEJY9U6ROG&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [250]:
Review15=[]
Rating15=[]

review15=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review15:
        
    Review15.append(i.text)
              
rating15=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for j in rating15:
        
    Rating15.append(j.text)

In [251]:
# Clicking on next button
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
time.sleep(2)
nxt_button.click()

In [258]:
start=0
end=60

for page in range(start,end):
    
    # Extracting Review from xpath
    review15=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review15:
        Review15.append(j.text)
        
    # Extracting Rating from xpath    
    rating15=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for j in rating15:                             
        Rating15.append(j.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [259]:
driver.close()

In [260]:
print(len(Review15),len(Rating15))

1179 1179

In [261]:
# Creating the dataframe from the scraped data
TV_4=pd.DataFrame({"Review":Review15,"Rating":Rating15})

TV_4

                                                 Review Rating
0     At this price point, the TV is good to have wi...      5
1     It is superior TV. Working on android pie .You...      5
2     OnePlus always brings to us all those high end...      5
3     This review is after long-term usage of 6 mont...      5
4     Picture quality and design very good and lates...      5
...                                                 ...    ...
1174  Terrible picture quality - do not buy\n\nPleas...      1
1175                                               Good      4
1176                               Good quality product      5
1177                                Superb tv in budget      5
1178                                       Best quality      5

[1179 rows x 2 columns]

#### Now Scraping Headphones ratings and reviews

In [262]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/boat-rockerz-255f-pro-255-pro-bluetooth-headset/product-reviews/itm103353d22d2c1?pid=ACCFZHDAYSTBQ4AY&lid=LSTACCFZHDAYSTBQ4AYJW28QK&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [263]:
Review16= []
Rating16= []

review16=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review16:
        
    Review16.append(i.text)
              
rating16=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating16:
        
    Rating16.append(j.text)

In [264]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [271]:
start=0
end=60

for page in range(start,end):
    review16=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review16:
        Review16.append(j.text)
        
    rating16=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating16:                             
        Rating16.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [272]:
driver.close()

In [273]:
print(len(Review16),len(Rating16))

365 364

In [274]:
# Creating the dataframe from the scraped data
Headphone_1=pd.DataFrame({"Review":Review16[0:364],"Rating":Rating16[0:364]})

Headphone_1

                                                Review Rating
0    after 30 days of using BOAT ROCKERZ 255 PRO......      4
1    Sound quality is superb, mid, low , high, bass...      5
2    The boat rockerz 255 pro is very awesome produ...      5
3    Build Quality- 4.5/5\nFeel and comfortability ...      4
4    This review is written after 1 month use:\nThe...      5
..                                                 ...    ...
359                         Value for money headphone.      3
360  Decent sounds quality realme has best sound qu...      5
361     Sound quality is very good and design also....      5
362           Nice products and amazing charge back up      5
363               Highly recommended and plz go for it      5

[364 rows x 2 columns]

In [293]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/boat-airdopes-131-upto-15-hours-playback-13mm-drivers-iwp-technology-bluetooth-headset/product-reviews/itmce34ba16c3b60?pid=ACCG48F2SGVM72HN&lid=LSTACCG48F2SGVM72HNZSCHQR&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [295]:
Review17= []
Rating17= []

review17=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review17:
        
    Review17.append(i.text)
              
rating17=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating17:
        
    Rating17.append(j.text)

In [296]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [305]:
start=0
end=60

for page in range(start,end):
    review17=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review17:
        Review17.append(j.text)
        
    rating17=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating17:                             
        Rating17.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [306]:
print(len(Review17),len(Rating17))

267 265

In [309]:
# Creating the dataframe from the scraped data
Headphone_2=pd.DataFrame({"Review":Review17[0:265],"Rating":Rating17[0:265]})

Headphone_2

                                                Review Rating
0    I hope you guys find this review helpful, well...      5
1    (1) Worth of the money 💰\n(2) Nice design & co...      5
2    Fabulous in this range..\n\n1. Sound quality i...      4
3    Worth of money. Not bad. Sound quality is good...      5
4    Best product you can buy in this price range. ...      5
..                                                 ...    ...
260  Mind blowing parches. Very nice headset in low...      4
261                              Good product for 1299      5
262               Nice quality ! Good Sound effects 👍🙂      5
263  Loved the sound quality loved the base and the...      5
264  Bass is normal but design is great nd 1300 is ...      5

[265 rows x 2 columns]

In [310]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/realme-buds-wireless-2-neo-type-c-fast-charge-bass-boost-bluetooth-headset/product-reviews/itm64e67d64bd846?pid=ACCG65YCGHHHZPNZ&lid=LSTACCG65YCGHHHZPNZM3JIBG&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [311]:
Review18= []
Rating18= []

review18=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review18:
        
    Review18.append(i.text)
              
rating18=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating18:
        
    Rating18.append(j.text)

In [312]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [338]:
start=0
end=200

for page in range(start,end):
    review18=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review18:
        Review18.append(j.text)
        
    rating18=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating18:                             
        Rating18.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [339]:
driver.close()

In [340]:
print(len(Review18),len(Rating18))

2450 2435

In [341]:
# Creating the dataframe from the scraped data
Headphone_3=pd.DataFrame({"Review":Review18[0:2435],"Rating":Rating18[0:2435]})

Headphone_3

                                                 Review Rating
0     Good sound 🥰 nice product 👍 realme product is ...      4
1     Awesome Sound Quality With Very Clear Vocals a...      5
2     Great product... the High volume sound kind a ...      5
3     2 months reslme buds 2 neo i am use.Sound bass...      5
4     Best quality in product the segment and sound ...      5
...                                                 ...    ...
2430    Noise cancellation is not working properly.....      1
2431             Itz... Very loudly... And.... DJ. Item      5
2432          Sound quality is not so good,,as expected      5
2433                        Overall everything is good.      5
2434                               One side not working      5

[2435 rows x 2 columns]

In [346]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/boat-rockerz-400-bluetooth-headset/product-reviews/itm4de0fa188f6eb?pid=ACCEPZB2HFHQJG5Y&lid=LSTACCEPZB2HFHQJG5YC2OQB5&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [347]:
Review19= []
Rating19= []

review19=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review19:
        
    Review19.append(i.text)
              
rating19=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating19:
        
    Rating19.append(j.text)

In [348]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [353]:
start=0
end=1

for page in range(start,end):
    review19=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review19:
        Review19.append(j.text)
        
    rating19=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating19:                             
        Rating19.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [354]:
driver.close()

In [355]:
print(len(Review19),len(Rating19))

580 580

In [357]:
# Creating the dataframe from the scraped data
Headphone_4=pd.DataFrame({"Review":Review19,"Rating":Rating19})

Headphone_4

                                                Review Rating
0    It was nice produt. I like it's design a lot. ...      5
1    awesome sound quality.\npros\n7-8 hrs of batte...      4
2    awesome sound....very pretty to see this nd th...      5
3    I think it is such a good product not only as ...      5
4    Awsome sound powerful bass battery backup is a...      5
..                                                 ...    ...
575  In this product you will get rich Base and nic...      3
576  Have been using this for more than 6 months no...      5
577  1st of all Flipkart u have a god damn super fa...      5
578  sound quality not that good, but works good wh...      4
579  Made order on December 1 at night and got deli...      5

[580 rows x 2 columns]

#### Now Scraping Home Theatres ratings and reviews

In [359]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/sony-sa-d40-80-w-bluetooth-home-theatre/product-reviews/itmfy95dvfgcbnsd?pid=ACCFY95D3FRZTWH5&lid=LSTACCFY95D3FRZTWH5WA1KBC&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [360]:
Review20= []
Rating20= []

review20=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review20:
        
    Review20.append(i.text)
              
rating20=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating20:
        
    Rating20.append(j.text)

In [361]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [369]:
start=0
end=40

for page in range(start,end):
    review20=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review20:
        Review20.append(j.text)
        
    rating20=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating20:                             
        Rating20.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [370]:
driver.close()

In [371]:
print(len(Review20),len(Rating20))

520 518

In [372]:
# Creating the dataframe from the scraped data
Home_theatre1=pd.DataFrame({"Review":Review20[0:518],"Rating":Rating20[0:518]})

Home_theatre1

                                                Review Rating
0    very nice sound quality। Sony is Sony । valuab...      5
1    sony D40 80 waat home theatre is so awsm..I bo...      5
2    nice product awesome bass sound quality supb. ...      5
3    1. Bass is very powerful\n2.sound clarity is a...      3
4    it is awesome and good for inhouse party. you ...      5
..                                                 ...    ...
513                                         Best sound      5
514  Bass is worst.... bass is kill the quality.......      5
515  Its spound is good but bass is not good and it...      4
516                             Best product from spny      5
517                                       Very good...      5

[518 rows x 2 columns]

In [373]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/zebronics-bt4440-rucf-60-watt-bluetooth-home-theatre/product-reviews/itmea25dnhzbhswb?pid=ACCEA25DZGJUCYYH&lid=LSTACCEA25DZGJUCYYHQ2GZPA&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [374]:
Review21= []
Rating21= []

review21=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review21:
        
    Review21.append(i.text)
              
rating21=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating21:
        
    Rating21.append(j.text)

In [375]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [381]:
start=0
end=20

for page in range(start,end):
    review21=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review21:
        Review21.append(j.text)
        
    rating21=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating21:                             
        Rating21.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [382]:
driver.close()

In [383]:
print(len(Review21),len(Rating21))

267 260

In [384]:
# Creating the dataframe from the scraped data
Home_theatre2=pd.DataFrame({"Review":Review21[0:260],"Rating":Rating21[0:260]})

Home_theatre2

                                                Review Rating
0    the best product in low price osm the sound qu...      5
1    Very nice quality of sound and Bass. Mere tara...      5
2    excellent product it's wark super just go this...      5
3    yes the speakers are very cool and of good qua...      4
4    These are the best and the most affordable hom...      4
..                                                 ...    ...
255                                               Nice      5
256  Zebronics BT4440 rucf 60 watt bluetooth riuten...      5
257                                       BASS UPGRADE      5
258                     good quality home theatre 🎥👌🏻❤      4
259                Sound quality & base quality good 😍      5

[260 rows x 2 columns]

#### Now Scraping Printers ratings and reviews

In [385]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/hp-deskjet-2332-multi-function-color-printer/product-reviews/itm4d6a7853f9f7f?pid=PRNFTXAW6TGHAZCZ&lid=LSTPRNFTXAW6TGHAZCZGJRAAO&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [386]:
Review22= []
Rating22= []

review22=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review22:
        
    Review22.append(i.text)
              
rating22=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating22:
        
    Rating22.append(j.text)

In [388]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [393]:
start=0
end=1

for page in range(start,end):
    review22=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review22:
        Review22.append(j.text)
        
    rating22=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating22:                             
        Rating22.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [394]:
driver.close()

print(len(Review22),len(Rating22))

245 240

In [395]:
# Creating the dataframe from the scraped data
Printer1=pd.DataFrame({"Review":Review22[0:240],"Rating":Rating22[0:240]})

Printer1

                                                Review Rating
0    It's Good and best for home and small office w...      5
1    It’s very easy to use and nyc product colour p...      4
2    VERY VERY NICE 👍👍 AND VERY GOOD PRINT QUALITY ...      5
3    Worth buying this only for limited prints.\nCo...      4
4    The product is actually good. Does what it say...      5
..                                                 ...    ...
235                                               Good      3
236  One month working and damage don't buy really ...      1
237  Very bad product .bcz there cartridge is not w...      5
238                         Very nice printing quality      1
239  Dont buy 50pages printing on new cartage and c...      1

[240 rows x 2 columns]

In [396]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/hp-laserjet-pro-mfp-m126a-printer-multi-function-monochrome-laser/product-reviews/itmf3cf93180304d?pid=PRNG3FY3XVT6T8W6&lid=LSTPRNG3FY3XVT6T8W61L0318&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [397]:
Review23= []
Rating23= []

review23=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review23:
        
    Review23.append(i.text)
              
rating23=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating23:
        
    Rating23.append(j.text)

In [398]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [404]:
start=0
end=45

for page in range(start,end):
    review23=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review23:
        Review23.append(j.text)
        
    rating23=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating23:                             
        Rating23.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [405]:
driver.close()

print(len(Review23),len(Rating23))

502 502

In [406]:
# Creating the dataframe from the scraped data
Printer2=pd.DataFrame({"Review":Review23[0:502],"Rating":Rating23[0:502]})

Printer2

                                                Review Rating
0    Let's go step by step.\n\n1. The order was rec...      5
1    been using MFP {Multi Function Printer} for ab...      4
2    No words....Tremendous...!!! Thank to Flipkart...      5
3    This is the best in class from HP.... It has a...      5
4    Wireless connectivity needs a router but you c...      5
..                                                 ...    ...
497  ONE OF THE BEST BUDGET PRINTER IN THE RANGE OF...      5
498  I tried installing the printer but every time ...      1
499                  can we do colour prints in this ?      1
500                             Good,excellent working      5
501                                               Nice      5

[502 rows x 2 columns]

#### Now Scraping Smartwatches ratings and reviewsSmartwatch

In [407]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/fire-boltt-talk-bluetooth-calling-smartwatch/product-reviews/itm5df1ad0845145?pid=SMWG2ZX6AC4ZSCPC&lid=LSTSMWG2ZX6AC4ZSCPCQESRSE&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [408]:
Review24= []
Rating24= []

review24=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review24:
        
    Review24.append(i.text)
              
rating24=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating24:
        
    Rating24.append(j.text)

In [409]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [414]:
start=0
end=20

for page in range(start,end):
    review24=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review24:
        Review24.append(j.text)
        
    rating24=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating24:                             
        Rating24.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [415]:
driver.close()

print(len(Review24),len(Rating24))

233 233

In [417]:
# Creating the dataframe from the scraped data
Smartwatch1=pd.DataFrame({"Review":Review24,"Rating":Rating24})

Smartwatch1

                                                Review Rating
0    Nice watch' good deal thnx Flipkart\nI need on...      5
1    I am using it from a day. It's really good loo...      4
2    Best calling enabled watch in the price range....      5
3    Great product with awesome features...!!!\nRec...      5
4    Fire Boltt Talk is a superb watch. I m amazed ...      5
..                                                 ...    ...
228                                          vary nice      5
229                        This smart watch is amazing      4
230  I loved the color. Dialer is big and watch is ...      5
231                                 It's ok ..not best      3
232                                            Amazing      5

[233 rows x 2 columns]

In [420]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/noise-colorfit-qube-spo2-smartwatch/product-reviews/itm2d9dc41a02202?pid=SMWG6RB5FX7RXWZ8&lid=LSTSMWG6RB5FX7RXWZ8MROVKI&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [421]:
Review25= []
Rating25= []

review25=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review25:
        
    Review25.append(i.text)
              
rating25=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating25:
        
    Rating25.append(j.text)

In [423]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [427]:
start=0
end=20

for page in range(start,end):
    review25=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review25:
        Review25.append(j.text)
        
    rating25=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating25:                             
        Rating25.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [428]:
driver.close()

print(len(Review25),len(Rating25))

240 240

In [430]:
# Creating the dataframe from the scraped data
Smartwatch2=pd.DataFrame({"Review":Review25[0:240],"Rating":Rating25[0:240]})

Smartwatch2

                                                Review Rating
0    This fit band is so good and so adjustable lik...      5
1    Good value for money everything is good only o...      4
2     Worth for money, Stylish + classy + good quality      4
3    This watch is a good at this price . Similar t...      5
4    Its my first experience on smart watch. I am j...      3
..                                                 ...    ...
235  Vier vier good watch the event of nice and goo...      5
236  The charging magnet is too poor quality.\nDisp...      1
237                                       Good product      5
238                                        Very nice 👌      5
239  Got this for my sister .... She is happy ... M...      5

[240 rows x 2 columns]

In [431]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/noise-colorfit-qube-spo2-smartwatch/product-reviews/itm9927bceb148ce?pid=SMWG6RAWQJFED4H9&lid=LSTSMWG6RAWQJFED4H9ABOLRE&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [432]:
Review26= []
Rating26= []

review26=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review26:
        
    Review26.append(i.text)
              
rating26=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating26:
        
    Rating26.append(j.text)

In [433]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [471]:
start=0
end=324

for page in range(start,end):
    review26=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review26:
        Review26.append(j.text)
        
    rating26=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating26:                             
        Rating26.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [472]:
driver.close()

print(len(Review26),len(Rating26))

3367 3360

In [473]:
# Creating the dataframe from the scraped data
Smartwatch3=pd.DataFrame({"Review":Review26[0:3360],"Rating":Rating26[0:3360]})

Smartwatch3

                                                 Review Rating
0     Fit is awsum.lukwise it is just gorgeous.N val...      5
1     Very nice Product...we really loved the produc...      4
2     Very nice watch really liked the display & loo...      5
3     Fabulous watch !\nBudget friendly and great fe...      5
4     Value of Money. Very nice watch. I loved that ...      4
...                                                 ...    ...
3355  Looking very nice and decent,price was amazing...      5
3356                                       Good product      5
3357  Nice product but its looking more nice on flip...      1
3358                           Its a nice product❣️❣️❣️      5
3359                                     Good product.👍      5

[3360 rows x 2 columns]

In [474]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/boat-wave-connect-bluetooth-calling-voice-assistant-1-69-hd-display-smartwatch/product-reviews/itm8e103a4ca1bc0?pid=SMWGEPT2RCPFSCK2&lid=LSTSMWGEPT2RCPFSCK2MQXF0Z&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [475]:
Review27= []
Rating27= []

review27=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review27:
        
    Review27.append(i.text)
              
rating27=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating27:
        
    Rating27.append(j.text)

In [476]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [478]:
start=0
end=20

for page in range(start,end):
    review27=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review27:
        Review27.append(j.text)
        
    rating27=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating27:                             
        Rating27.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [479]:
driver.close()

print(len(Review27),len(Rating27))

188 188

In [480]:
# Creating the dataframe from the scraped data
Smartwatch4=pd.DataFrame({"Review":Review27[0:188],"Rating":Rating27[0:188]})

Smartwatch4

                                                Review Rating
0    Amazing and good quality, overall nice feature...      5
1    Highly Recommended\n\nAs like as Apple watch s...      5
2    The smartwatch is amazing. The 1.6 inch large ...      5
3    Product is very good 👍. But it's wake gesture ...      4
4    The Classic Black Smart Watch\n\nSearching for...      5
..                                                 ...    ...
183                                       Good Product      5
184  Very good watch ⌚!! Value for money 💰!!\nYou s...      5
185                               Nice value for money      5
186  The smartwatch is amazing. The 1.6 inch large ...      5
187  Extraordinary watch from boat at this price se...      5

[188 rows x 2 columns]

In [481]:
# lets first connect to the web driver
PATH = r"C:\Users\JAYASHRI\Downloads\chromedriver_win32 (1)\chromedriver.exe" #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
driver.maximize_window()
time.sleep(2)

# opening flipcart review page for samsung-galaxy-f12
url = "https://www.flipkart.com/fire-boltt-ninja-call-2-1-7-inch-bluetooth-calling-27-sports-modes-smartwatch/product-reviews/itm22d13cc803610?pid=SMWGBYUC8ZRGBJFV&lid=LSTSMWGBYUC8ZRGBJFV5SW2TP&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

In [482]:
Review28= []
Rating28= []

review28=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
for i in review28:
        
    Review28.append(i.text)
              
rating28=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
for j in rating28:
        
    Rating28.append(j.text)

In [485]:
nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')     #scraping the list of buttons from the page
time.sleep(2)
nxt_button.click()

In [530]:
start=0
end=379

for page in range(start,end):
    review28=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div/div')
    for j in review28:
        Review28.append(j.text)
        
    rating28=driver.find_elements_by_xpath('//div[(@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _32lA32 _1BLPMq")or @class="_3LWZlK _1rdVr6 _1BLPMq" ]')
    for i in rating28:                             
        Rating28.append(i.text)
    time.sleep(1)
    
    nxt_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"][2]')     #scraping the list of buttons from the page
    nxt_button.click()
    time.sleep(1)

In [531]:
driver.close()

print(len(Review28),len(Rating28))

4160 4160

In [532]:
# Creating the dataframe from the scraped data
Smartwatch5=pd.DataFrame({"Review":Review28[0:4160],"Rating":Rating28[0:4160]})

Smartwatch5

                                                 Review Rating
0     After using it for 3 days I m writing this rev...      3
1     Such a classy watch. Perfect shape and perfect...      5
2     After using for 7 day I'm writing this...\nPro...      2
3     I am posting this review after 1 month of usag...      1
4     Best smart watch in this price ,and look was s...      5
...                                                 ...    ...
4155                                    Overall nice...      3
4156                                       Good quality      4
4157                                       NICE PRODUCT      5
4158  Good working experience and the side back butt...      3
4159                                               Good      5

[4160 rows x 2 columns]

In [533]:
Data_List=[Apple_Laptop,Acer_Laptop,Redmi_Book,Realme_Book,acer_Aspire,Apple_iPhone,Apple_iPhone11,REDMI_Note10,HONOR,Camera1,Camera2,TV_1,TV_2,TV_3,TV_4,Headphone_1,Headphone_2,Headphone_3,Headphone_4,Home_theatre1,Home_theatre2,Printer1,Printer2,Smartwatch1,Smartwatch2,Smartwatch3,Smartwatch4,Smartwatch5]

In [534]:
Final_data=pd.concat(Data_List,ignore_index=True)

In [535]:
Final_data

                                                  Review Rating
0      A bit expensive when we compare with today's i...      4
1      Fantastic value for money machine!! Absolute b...      5
2      The best you can get, looks and performance bo...      5
3      Ultimate machine, best laptop I have ever used...      5
4      For everyone, who is planning to buy MBA M1-\n...      5
...                                                  ...    ...
24322                                    Overall nice...      3
24323                                       Good quality      4
24324                                       NICE PRODUCT      5
24325  Good working experience and the side back butt...      3
24326                                               Good      5

[24327 rows x 2 columns]

In [536]:
Final_data.to_csv('Review_data.csv')